.login_logo {
  width: 25rem;
  object-fit: contain;
}
.login {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.login_form {
  width: 35rem;
  height: 50rem;
  border: 1px solid #dbdbdb;
  background-color: #ffff;
  text-align: center;
  margin-top: 2rem;
}
.login_form form {
  display: flex;
  flex-direction: column;
}
.login_form form input {
  width: 80%;
  padding: 0.5rem;
  height: 2rem;
  margin: 1rem auto 0.5rem auto;
  font-size: 1.5rem;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  outline: none;
  color: #8e8e9b;
}
.login_form input[type="submit"] {
  width: 80%;
  height: 3rem;
  font-size: 1.6rem;
  margin-top: 2rem;
  background-color: #b2dffc;
  color: #fff;
}
.signup_section {
  margin-top: 5rem;
  border-top: 1px solid #8e8e9b;
  font-size: 1.6rem;


  
}
.signup_section h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8e9b;
  font-size: 1.6rem;

}
.signup_section a{
  text-decoration: none;
  font-size: 1.6rem;
  color:#47ACF8 ;
  margin-left: 0.5rem;
  user-select: none;
}

@media only screen and (max-width :768px) {
.login{
  overflow-y: hidden;
}
  .login_form{
    height: 100%;
    width: 100%;
  }
}